.carousel-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
}
button {
  width: 100px;
}
#prevBtn {
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 1;
}
#nextBtn {
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 1;
}

.slide {
  /* flex-shrink, flex-grow, flex-basis */
  flex: 0 0 100%; /*flex-basis 100% prai elementot da zafati 100% od dadeniot prostor*/
  height: 600px;
  background-size: cover;
}
